<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
</head>
<body>
    <h1> Product Details </h1>
    <ul>
        <li>id: <%= product.id %></li>
        <li>name: <%= product.name %></li>
        <li>category: <a href="/products?category=<%= product.category %>"><%= product.category %></a></li>
        <li>price: <%= product.price %></li>
    </ul>
    <a href="http://localhost:3000/products">All Products</a>
    <br>
    <a href="http://localhost:3000/products/<%= product._id %>/edit">edit this product</a>
    <br>
    <form action="/products/<%=product._id%>?_method=Delete" method="POST">
        <button>Delete this Product</button>
    </form>
    
</body>
</html>