<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= product.name %> </title>
</head>
<body>
    <h1>
        Edit <%= product.name %>
    </h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
        <label for="name">name</label>
        <input type="text" name="name" id="name" value="<%= product.name %>">
        <br>
        <label for="price">price</label>
        <input type="text" name="price" id="price" value="<%= product.price %>">
        <br>
        <label for="category">category</label>
        <select name="category" id="category">
            <option value="fruits">fruits</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
        </select>
        <br>
        <button type="submit">submit</button>

    </form>
</body>
</html>